header {
  background-image: url("https://static.tvmaze.com/uploads/images/original_untouched/389/973562.jpg");
  background-size: cover;
  background-position: center;
  padding: 120px 150px;
}
section {
  background-image: url("https://static.tvmaze.com/uploads/images/original_untouched/213/533549.jpg");
  background-size: auto;
  background-repeat: repeat-y;
  display: flex;
  flex-wrap: wrap;
}
article {
  margin: 10px;
}
